.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    z-index: 100;
    left: 0;
    width: 100%;
    padding: 0;
}

.nav li {
    
    list-style-type: none;
    padding: 20px 15px;
}

.nav li a {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 300;
    text-decoration: none;
}
.nav li a:hover {
    text-decoration-line:underline;
    color: rgb(11, 181, 11);
}

.menu{
   
    margin: 210px;
  flex-wrap: wrap;
  
  justify-content:center;
  font-family: "Source Sans Pro", "Poppins", sans-serif;
  font-size: 16px;
  
}

#im1{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
   }

   p{
    color:black;
   }

   .paragraph1{
    text-align: center;
    padding-bottom: 40px;
    color:black;
  }

  .launch {
    display: flex;
    justify-content: space-between;
    
  }
  
  
.paragraph2{
    color:black;
    margin: 20px;
  padding-bottom: 1em;
  border-bottom: 2px solid #ccc;
}


p.m1{
   word-spacing: 170px;
}

.breakfast{
    display: flex;
    justify-content: space-between;

}

.dinner{
    display: flex;
    justify-content: space-between;
}

.dessert{
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
}